// Import page-specific CSS files here.

.form {
  width: 800px;
}

.form-control {
  text-align: center;
}

.photo-group {
  margin-bottom: 30px;
  padding: 10px;
}

.btn {
  font-size: 20px;
}

.form-button {
  padding-left: 0px;
}


// .cards {
//   flex-grow: 1;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .card {
//   background-size: cover;
//   background-position: center;
//   height: 150px;
//   border-radius: 1px;
//   margin: 15px 10px;

//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   font-size: 25px;
//   color: white;
//   font-weight: bolder;

// }

.background_all_trips {
  // background-color: rgb(185, 184, 182);
  // background-image: asset-url('background.jpg');
  background-color: #eef6f8;
  background-size: cover;
}

.all_trips {
  padding-top: 20px;
  padding-left: 15px;
  // padding-bottom: 20px;
  font-size: 25px;
  text-align:left;
  color: black;
}
#all_trips_two {
  font-size: 20px;
}

.grid_white {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.left_bottom {

  margin-bottom: -170px;
}

#delete_edit {
  font-size: 15px;
  text-align: left;
}

// .content {
//   display: flex;
// }
