<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%# rails generate migration AddChefNameToRestaurants chef_name:string %>
<%= link_to 'Log in', new_user_session_path %>
<br>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>

rails g controller trips
rails g controller bookings
<%# rails generate model Trip destination:string price:integer number_of_people:integer details:text user:references

rails generate model Booking date:datetime trip:references user:references %>
