.loginbackground {
  // background-image: url(../annie-spratt-pKpipZVVEC0-unsplash.jpg);
  // background-image: url(../images/annie-spratt-pKpipZVVEC0-unsplash.jpg);
  background-color: rgb(197, 203, 201);
  margin: 0 auto;
  padding-bottom: 280px;
}

h2 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 3px black;
}
.shadowlogin {
  // box-shadow: 1px 3px #e0dede;
  padding-bottom: 5px;
}

.padding_left {
  padding-left: 470px;
  padding-right: 470px;
}

.padding_options {
  padding-left: 580px;
  // padding-right: 470px;
}

.padding_new {
  padding-left: 105px;
}
